<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMr_TXopSOUDqHhg47RkwyOyELa2Gk6k4</string>
	<key>GCM_SENDER_ID</key>
	<string>646327612933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seaBattle</string>
	<key>PROJECT_ID</key>
	<string>flutter-sea-battle</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sea-battle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646327612933:ios:3c495d9b2619db809fce6c</string>
</dict>
</plist>